
QFrame, QLabel {
    padding: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: darkkhaki;
    border-radius: 5px;
	background-color: beige;
}

QFrame:focus {
    border-width: 3px;
    padding: 0px;
}

QProgressBar {
    border-width: 2px;
    border-style: solid;
    border-color: darkkhaki;
    border-radius: 5px;
    text-align: center;
	background-color: beige;
}

QProgressBar::chunk {
	color: darkkhaki;
	background-color: khaki;
}
